name: Robot Framework CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install robotframework robotframework-seleniumlibrary webdriver-manager

      - name: Run Robot Tests
        # Apontamos para a pasta onde o arquivo está. 
        # O Robot executará todos os arquivos .robot dentro dela.
        run: |
          python -m robot -d results -v BROWSER:headlesschrome src/tests/web/
        continue-on-error: true

      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: robot-test-report
          path: results/