name: Robot Framework CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install robotframework robotframework-seleniumlibrary webdriver-manager

      - name: Run Robot Tests
        # Sem o continue-on-error, o GitHub ler치 o exit code do Robot.
        # Se houver falhas, o Job ficar치 VERMELHO, mas o Robot rodar치 os 4 cen치rios.
        run: |
          python -m robot -d results -v BROWSER:headlesschrome .

      - name: Generate Test Summary
        # O 'if: always()' garante que o resumo seja criado mesmo se o teste falhar
        if: always()
        run: |
          echo "## 游늵 Relat칩rio de Automa칞칚o - Blog Agibank" >> $GITHUB_STEP_SUMMARY
          # ... resto do c칩digo do summary ...

      - name: Upload Test Results
        # O 'if: always()' garante que voc칡 receba os screenshots da falha
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: robot-test-report
          path: results/